# Entornos virtuales
.venv/
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Base de datos local
*.db
*.sqlite

# Archivos de entorno
.env
.env.*

# Archivos del sistema o IDE
.DS_Store
.idea/
.vscode/
